<section id="about" class="feature">
    <div class="row"
         data-bottom="transform:translateY(-5em)" data--100-bottom="transform:translateY(0)">
        <div class="large-12 columns social">
            <a rel="nofollow" href="https://www.facebook.com/thepaperswelove?fref=ts" target="_blank" title="Like us on FaceBook" onclick="ga('send', 'event', 'social', 'like')"><i class="icon-like"></i></a>
            <a rel="nofollow" href="https://twitter.com/johnleuner/status/586049157120577536" target="_blank" title="Tweet hashtag #PapersWeLove" onclick="ga('send', 'event', 'social', 'twitter')"><i class="icon-twitter-2"></i></a>
            <a rel="nofollow" href="mailto:ashutosr@thoughtworks.com" title="Email us" onclick="ga('send', 'event', 'social', 'email')"><i class="icon-mail"></i></a>
            <!-- NOTE: Last video link is line-wrapping in small screens like iOS a rel="nofollow" href="#" title="Videos (coming soon)"><i class="icon-youtube"></i></a -->
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns" data-anchor-target="#_about">
            <blockquote>
                <p data--100-bottom-top="transform:perspective(400px) rotateX(90deg) scale(.5);transform-origin:50% 0" data--100-bottom="transform:perspective(400px) rotateX(0deg) scale(1)">Papers We Love is a repository of academic computer science papers and a community who loves reading them.</p>

                <p data--100-bottom-top="transform:perspective(400px) rotateX(90deg) scale(.5);transform-origin:50% 0" data--100-bottom="transform:perspective(400px) rotateX(0deg) scale(1)"><small>We are hosting it for first time here at Thoughtworks. And we would love to make it a monthly affair based on the response we would be garnering from you folks </small></p>

                <p id="_about" data--100-bottom-top="transform:perspective(400px) rotateX(90deg) scale(.5);transform-origin:50% 0" data--100-bottom="transform:perspective(400px) rotateX(0deg) scale(1)"><small>We love feedback! If you have any suggestions or cribs, feel free to fill out our <a rel="nofollow" href="https://www.google.com" target="_blank">feedback form</a>. Don't worry, its completely anonymous.</small></p>

                <cite data--100-bottom-top="transform:translateX(100%)" data--100-bottom="transform:translateX(0)">Papers We Love Volunteers</cite>
            </blockquote>
        </div>
    </div>
</section>
